@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pkmn-yellow: #FFCB05;
  --pkmn-blue: #2A75BB;
  --dark-yellow: #C7A008;
  --dark-blue: #3C5AA6;
  --pkmn-red: #FB1B1B;
  --pkmn-black: #000000;
  --pkmn-white: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
