@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* Theme Colors */
  --poke-yellow: #FFCB05;
  --poke-blue: #2A75BB;
  --dark-yellow: #C7A008;
  --dark-blue: #3C5AA6;
  --poke-red: #FB1B1B;
  --poke-black: #000000;
  --poke-white: #FFFFFF;

  /* type colors */
  --type-bug: #94BC4A;
  --type-dark: #736C75;
  --type-dragon: #6A7BAF;
  --type-electric: #E5C531; 
  --type-fairy: #E397D1;
  --type-fighting: #CB5F48;
  --type-fire: #EA7A3C;
  --type-flying: #7DA6DE;
  --type-ghost: #846AB6;
  --type-grass: #71C558;
  --type-ground: #CC9F4F;
  --type-ice: #70CBD4;
  --type-normal: #AAB09F;
  --type-poison: #B468B7;
  --type-psychic: #E5709B;
  --type-rock: #B2A061;
  --type-steel: #89A1B0;
  --type-water: #539AE2;

}

html, body {
  /* Follows PokéBall Color Scheme */
  background: linear-gradient(var(--poke-red), var(--poke-black), var(--poke-white));
  background-attachment: fixed;
}

/* * Background Color Classes */
.bg-poke-yellow{
  background-color: var(--poke-yellow);
}
.bg-poke-blue{
  background-color: var(--poke-blue);
}
.bg-dark-yellow{
  background-color: var(--dark-yellow);
}
.bg-dark-blue{
  background-color: var(--dark-blue);
}
.bg-poke-red{
  background-color: var(--poke-red);
}
.bg-poke-black{
  background-color: var(--poke-black);
}
.bg-trans-black{
  background-color: rgba(0, 0, 0, 0.8);
}
.bg-poke-white{
  background-color: var(--poke-white);
}

/*  * Text Color Classes */
.text-poke-yellow{
  color: var(--poke-yellow);
}
.text-poke-blue{
  color: var(--poke-blue);
}
.text-dark-yellow{
  color: var(--dark-yellow);
}
.text-dark-blue{
  color: var(--dark-blue);
}
.text-poke-red{
  color: var(--poke-red);
}
.text-poke-black{
  color: var(--poke-black);
}
.text-poke-white{
  color: var(--poke-white);
}

/* Box Shadows: */

.box-shadow-rb {
  box-shadow: rgba(255, 255, 255, 0.5) 3px 3px 5px;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}